Debug
/DX11/*.user
/DX11/*.opensdf
/DX11/*.sdf
/DX11/*.suo
/DX11/*.suo

/DX11/resource/shaders/diffuse.vs-error.txt
/DX11/resource/shaders/billboard.gs-error.txt
/DX11/resource/shaders/billboard.vs-error.txt
/DX11/resource/shaders/colors.vs-error.txt
/DX11/resource/shaders/billboard.gs-error.txt
/DX11/resource/shaders/billboard.vs-error.txt
/DX11/resource/shaders/colors.vs-error.txt

Release
/DX11/DEBUGLOG.LOG
